{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('home') }}
{% endblock %}
{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <section class="homeSection">
        <h2>Choose your halophyte</h2>
        <ul>
            <li>
                <a class="blockLink" href="#">Find the best candidates</a>
            </li>
        </ul>
    </section>
    <section class="homeSection">
        <h2>Access data</h2>
        <ul>
            <li>
                <a class="blockLink" href="{{ path('sf_list') }}">Species x features data</a>
            </li>
            <li>
                <a class="blockLink" href="{{ path('species_list') }}">Species data</a>
            </li>
            <li>
                <a class="blockLink" href="{{ path('feature_list') }}">Features data</a>
            </li>
        </ul>
    </section>
    <section class="homeSection">
        <h2>Add new entry</h2>
        <ul>
            <li>
                <a class="blockLink" href="{{ path('sf_add') }}">Add new species x feature</a>
            </li>
            <li>
                <a class="blockLink" href="{{ path('species_add') }}">Add new species</a>
            </li>
            <li>
                <a class="blockLink" href="{{ path('feature_add') }}">Add new feature</a>
            </li>
        </ul>
    </section>
    <section class="homeSection">
        <h2>Collaborative tools</h2>
        <ul>
            <li>
                <a class="blockLink" href="#">Validate data</a>
            </li>
            <li>
                <a class="blockLink" href="#">...</a>
            </li>
        </ul>
    </section>
    <section class="homeSection">
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <a class="blockLink" href="{{ path('profile') }}">My profile</a>
        {% else %}
            <a class="blockLink" href="{{ path('app_login') }}">Sign in/Register</a>
        {% endif %}
    </section>
{% endblock %}
