{% extends 'base.html.twig' %}

{% block title %}Hello SpeciesFeatureController!{% endblock %}

{% block body %}
    {{ form_start(form, {'method': 'POST'}) }}
        {{ form_errors(form) }}

        {{ form_row(form.species) }}
        <fieldset id="new-species" class="form-group">
            {{ form_label(form.new_species) }}
            {{ form_widget(form.new_species) }}
        </fieldset>

        <div class="searchBoxWrapper">
            {{ form_widget(form.feature) }}
            <div class="searchWidget">
                {{ form_label(form.search_feature) }}
                {{ form_widget(form.search_feature) }}
                <ul class="searchResults" id="search-feature-results"></ul>
            </div>
        </div>
        <div id="new-feature" class="newData">
            <fieldset id="new-feature" class="form-group">
                {{ form_label(form.new_feature) }}
                {{ form_widget(form.new_feature) }}
            </fieldset>
        </div>

        <fieldset id="feature-value" class="form-group">
            {{ form_label(form.value) }}
            {{ form_widget(form.value) }}
        </fieldset>
        <fieldset id="range-values" class="form-group">
            {{ form_row(form.value_min) }}
            {{ form_row(form.value_max) }}
        </fieldset>
        {{ form_row(form.range_value) }}

        {{ form_row(form.article) }}
        <fieldset id="new-article" class="form-group">
            {{ form_label(form.new_article) }}
            {{ form_widget(form.new_article) }}
        </fieldset>
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('sf_form') }}
{% endblock %}
